
* {
  box-sizing: border-box;
}

.menu{

	display: flex;
    
    flex-direction: row;
    
    justify-content: space-between;

    align-items: center;

}

	.menu-left{

		display: inline-flex;

	    margin: 1% 5%;

	    width: 100%;
	}

		.menu-left a, .menu-right a{

			text-decoration: none;

			color: darkgrey;
	}

		.menu-left1{

			padding: 0 5%;
		}
		.menu-left2{

			padding: 0 5%;
		}
	.menu-right{

		display: inline-flex;

		justify-content: flex-end;

	    margin: 1% 5%;

	    width: 100%;
	}
		.menu-right1{

			padding: 0 5%;
		}
		.menu-right2{

			padding: 0 5%;
		}
		.menu-right3{

			padding: 0 5%;
		}

.banner{

	position: relative;
}

	.banner-img{

		height: auto;

    	width: 100%;
	}
	.banner-txt{

		position: absolute;

		top: 25%;

		left: 5%;

		color: white;

		line-height: 60%;
	}
		.banner-txt1{

			font-size: 60px;
		}
		.banner-txt2{

			font-size: 23px;
		}

.content{

	background-color: #e4e4e4;

    width: 100%;
}

	.content-txt{

		padding: 2% 5%;
	}

	.content-img{
		
		
	}
		.content-img1{

			margin-left: 3%;
		}
			.content-img1 img, .content-img2 img{

				height: auto;

				width: 100%;

				padding-bottom: 5%;
			}

		.content-img2{

			
		}

		.content-img3{

			/*margin-right: 4%;*/
		}
			.content-img3 img{

				height: auto;
				
				width: 95.5%;
			}

	.clearfix{

	}
		.content-imgall {
		  	
		  	float: left;
		  	
		  	width: 32%;
		  	
		  	padding: 2%;
		}

		.clearfix::after {
		  
		  	content: "";
		  
		  	clear: both;
		  
		  	display: table;
		}
		
.footer{
	
	background-color: #f0f0f0;

	width: 100%;

    margin-left: 0%;
}
	.footer-content{

		float: left;
		  	
	  	width: 32%;
		  	
	  	padding: 1%;
	}
		.footer-content1{

			margin-left: 4%;
		}



@media screen and (max-width: 767px){

	.menu{

		/*display: flex;
	    
	    flex-direction: row;
	    
	    justify-content: space-between;

	    align-items: center;*/

	    background-color: #556270;

	}

		.menu-left{

			/*display: inline-flex;

		    margin: 1% 5%;

		    width: 100%;*/

		    width: 40%;

		    justify-content: space-between;

		    margin: 5% 10% 5% 3%;
		}

			.menu-left a, .menu-right a{

				/*text-decoration: none;

				color: darkgrey;*/

				color: #86949a;

				font-size: 12px;
		}

			.menu-left1{

				/*padding: 0 5%;*/
			}
			.menu-left2{

				/*padding: 0 5%;*/
			}
		.menu-right{

			/*display: inline-flex;

			justify-content: flex-end;

		    margin: 1% 5%;

		    width: 100%;*/

		    width: 60%;
		    
		    justify-content: space-between;
		    
		    margin: 5% 3% 5% 0%;
		}
			.menu-right1{

				/*padding: 0 5%;*/
			}
			.menu-right2{

				/*padding: 0 5%;*/
			}
			.menu-right3{

				/*padding: 0 5%;*/
			}

	.banner{

		/*position: relative;*/

		margin: 15% 3% 10% 3%;
	}

		.banner-img{

			/*height: auto;

	    	width: 100%;*/

	    	display: none;
		}
		.banner-txt{

			/*position: absolute;

			top: 25%;

			left: 5%;

			color: white;

			line-height: 60%;*/

			position: unset;
    		
    		color: black;
		}
			.banner-txt1{

				/*font-size: 60px;*/

				margin-bottom: 5%;
			}
			.banner-txt2{

				/*font-size: 23px;*/

				line-height: 120%;

			    border-bottom: solid 1px #e0e0e0;

			    padding-bottom: 10%;

			    color: #adacac;

			    font-size: 20px;
			}

	.content{

		/*background-color: #e4e4e4;

	    width: 100%;*/

        background-color: white;
	}

		.content-txt{

			/*padding: 2% 5%;*/

			padding: 0;
    		
    		margin: 1% 3% 5% 3%;;
		}

			.content-txt h2{

				/*padding: 2% 5%;*/

				font-size: 60px;

			    margin-bottom: 5%;

			    line-height: 120%;

			    overflow: overlay;
			}
			.content-txt p{

				/*padding: 2% 5%;*/

				font-size: 20px;

			    line-height: 120%;

			    padding-bottom: 5%;

			    color: #adacac;
			}

		.content-img{
			
			display: flex;

		    flex-direction: column;

		    align-items: center;
		}
			.content-imgall{

				/*margin-left: 3%;*/

				float: unset;

			    height: auto;

			    width: 100%;

			    margin: 0;
			}
			.content-img1{

				padding-bottom: 0;
			}
				.content-img1 img, .content-img2 img{

					/*height: auto;

					width: 100%;

					padding-bottom: 5%;*/

					padding-bottom: 15%;
				}

			.content-img2{

				padding-top: 0;

				padding-bottom: 0;
			}

			.content-img3{

				/*margin-right: 4%;*/

				padding-top: 0;
			}
				.content-img3 img{

					/*height: auto;
					
					width: 95.5%;*/

					width: 100%;
				}

		.clearfix{

		}
			.content-imgall {
			  	
			  	/*float: left;
			  	
			  	width: 32%;
			  	
			  	padding: 2%;*/
			}

			.clearfix::after {
			  
			  	/*content: "";
			  
			  	clear: both;
			  
			  	display: table;*/
			}
			
	.footer{
		
		/*background-color: #f0f0f0;*/

		background-color: white;

		display: flex;

    	flex-direction: column;

    	margin: 8% 2%;

    	width: 96%;
	}
		.footer-content{

			/*float: left;
			  	
		  	width: 32%;
			  	
		  	padding: 1%;*/

		  	width: 100%;
    		
    		margin: 0;
		}
			.footer-content h2{

				font-size: 60px;

				margin-bottom: 10%;
			}
			.footer-content p{

				font-size: 20px;
    			
    			color: #adacac;

    			margin-bottom: 10%;
			}
			.footer-content a{

				font-size: 20px;

				color: black;

				text-decoration: underline;
			}
			.footer-content1{

				/*margin-left: 4%;*/

				margin-bottom: 10%;
			}
}

@media screen and (min-width: 768px) and (max-width: 992px){

	.menu{
		
	    background-color: #556270;

	}

		.menu-left{

		    margin: 5% 10% 5% 3%;
		}

			.menu-left a, .menu-right a{

				color: white;

				font-size: 12px;
		}

			.menu-left1{

				
			}
			.menu-left2{

				
			}
		.menu-right{
		    
		    margin: 5% 3% 5% 0%;
		}
			.menu-right1{

				
			}
			.menu-right2{

				
			}
			.menu-right3{

				
			}

	.banner{

		margin: 15% 3% 10% 3%;
	}

		.banner-img{

	    	display: none;
		}
		.banner-txt{

			position: unset;
    		
    		color: black;
		}
			.banner-txt1{

				margin-bottom: 5%;

				font-size: 50px;
			}
			.banner-txt2{

				line-height: 120%;

			    border-bottom: solid 1px #e0e0e0;

			    padding-bottom: 10%;

			    color: #adacac;

			    font-size: 20px;
			}

	.content{

        background-color: white;
	}

		.content-txt{

			padding: 0;
    		
    		margin: 1% 3% 5% 3%;;
		}

			.content-txt h2{

				font-size: 50px;

			    margin-bottom: 5%;

			    line-height: 120%;

			    overflow: overlay;
			}
			.content-txt p{

				font-size: 20px;

			    line-height: 120%;

			    padding-bottom: 5%;

			    color: #adacac;
			}

		.content-img{
			
			display: flex;

		    flex-direction: row;
			
			flex-wrap: wrap;
		}
			.content-imgall{

				float: unset;

			    height: auto;

			    width: 50%;

			    margin: 0;
			}
			.content-img1{

				padding-bottom: 0;
			}
				.content-img1 img, .content-img2 img{

					padding-bottom: 15%;
				}

			.content-img2{

				padding-bottom: 0;
			}

			.content-img3{

				

				padding-top: 0;
			}
				.content-img3 img{

					width: 100%;
				}

		.clearfix{

		}
			.content-imgall {


			}

			.clearfix::after {
			  
			  	
			}
			
	.footer{

		background-color: white;

		display: flex;

    	flex-direction: column;

    	margin: 8% 2%;

    	width: 96%;
	}
		.footer-content{

		  	width: 100%;
    		
    		margin: 0;

    		margin-bottom: 10%;
		}
			.footer-content h2{

				font-size: 50px;
			}
			.footer-content p{

				font-size: 20px;
    			
    			color: #adacac;
			}
			.footer-content a{

				font-size: 20px;

				text-decoration: underline;
			}
}